.portrait {
  max-width: 240px;
  border: 1px solid black;
}

.portrait img {
  width: 100%;
}


.character-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.attr-title {
  font-weight: bold;
}