.container-zone.section-two {
  padding: 0;
  max-width: 1024px;
  border-radius: 5px;
}

.character-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
  background-color: rgba(173, 230, 199, 0.8);
}

.portrait {
  max-width: 240px;
  border: 1px solid black;
}

.portrait img {
  width: 100%;
}

.details-field {
  margin: 0.5rem 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.attr-title {
  font-weight: bold;
}

@media(min-width:540px) {
  .specific-details {
    display: flex;
    width: 100%;
  }

  .portrait {
    margin: auto;
    width: 35%;
  }

  .character-details {
    margin: 1rem 0;
    padding-left: 1rem;
    width: 65%;
  }

  .character-container {
    display: flex;
    flex-direction: column;
  }
}