.avatar {
  width: 48px;
}

.avatar img {
  width: 100%;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
}

.character-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 135px;
  height: 170px;
  margin-bottom: 0.4rem;
  justify-content: space-evenly;
  border-radius: 5px;

  text-decoration: none;
  text-align: center;
  color: black;

  transition: all 0.5s;

}

.character-card:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: #57C78B;
  height: 240px;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  transition: width 0.5s;
}

.character-card:hover .avatar {
  width: 70px;
}


/*TEST HOVER*/
.character-card.test {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  background-color: #57C78B;
  height: 240px;
}

.character-card.test .avatar {
  width: 70px;
}

.character-card.test .saga {
  visibility: visible;
  opacity: 1;
}

/*END TEST*/


#sagaFilter {
  display: "flex";
  flex-wrap:"wrap"
}

#sagaFilter span {
  display: inline-block;
  width: 7rem;
}

.name {
  font-weight: bold;
}

.saga {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.character-card:hover .saga {
  visibility: visible;
  opacity: 1;
}

.feature-btn {
  width: 8rem;
  font-size: 1.5rem;
  color: whitesmoke;
  background-color: #E15554;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem 0.1rem;
  cursor: pointer;
}

.feature-btn:hover {
  background-color: #E77474;
}

.section-title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
}

/* Filtro */
.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  padding: 1rem;
  height: 3rem;

  transition: all 1s;
}

.filter-section.active {
  height: 16rem;
}

@media(min-width:368px) {
  .filter-section.active {
    height: 13rem;
  }
}

@media(min-width:600px) {
  .filter-section.active {
    height: 11rem;
  }
}

@media(min-width:940px) {
  .filter-section.active {
    height: 8rem;
  }
}

.fa-search {
  font-size: 1rem;
}

.fa-caret-down {
  display: none;
}

.filter-section.active .fa-caret-down {
  display: inline;
}

.filter-section.active .fa-caret-right {
  display: none;
}

.game-filter-container {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.filter-section.active .game-filter-container {
  position: initial;
  opacity: 1;
  visibility: visible;
}
/* FIN Filtro */
.results-counter {
  padding: 1rem;
  text-align: end;
}
/* Count */


/* Buscador */
.section-title span {
  font-size: 1rem;
  font-weight: lighter;
}

.seeker-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  padding: 1rem;
  height: 5rem;

  transition: all 1s;
}

.seeker-section.active {
  height: 7rem;
}

.hero-seeker {
  position: absolute;
  visibility: hidden;
  width: 33%;
  min-width: 9rem;
  max-width: 240px;
  opacity: 0;
  transition: opacity 1s;
}

.seeker-section.active .hero-seeker {
  position: initial;
  opacity: 1;
  visibility: visible;
}
/* FIN Buscador */
