* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to bottom right, #7768AE, #E15554, #E1BC29, #57C78B, #ADD8E6, #7768AE); */

  background-image: url("cloud-sephi.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 8rem;
  position: relative;
}

.myGit {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: -3rem;
  right: 1rem;
  font-size: 2rem;
  width: 5rem;
}


.container-zone {
  max-width: 1280px;
  background-color: lightblue;
  margin: 0 auto;
  border-radius: 5px;

  transition: all 0.5s;
}

/* Estilos del loader */
/* Source: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loader-container {
  display: grid;
  place-content: center;
  height: 8rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center-text {
  text-align: center;
}